/* footer */
.footer {
  background: #53382c;
  padding: 18px 0;
  padding-bottom: 25px;
}
.wrapper1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.vntbutton {
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 11px 15px;
  background: #b22830;
  text-align: Center;
  color: #ffffff;
}
@media (min-width: 992px) {
  .vntbutton {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .buttons {
    display: block;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 11px 15px;
    background: #b22830;
    text-align: Center;
    color: #ffffff;
  }
  .wrapper1 {
    display: block;
    text-align: center;
  }
}
